[hub]
    protocol = https
[user]
    name= AUTHORNAME
    email = AUTHOREMAIL
[credential]
    helper = GIT_CREDENTIAL_HELPER
[alias]
    ci = commit
    co = checkout
    st = status
    br = branch
    count = !git shortlog -sn
[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto
[core]
    excludesfile = ~/.gitignore
    editor = vim
[apply]
    whitespace = nowarn
[mergetool]
    keepBackup = false
[difftool]
    prompt = false
[help]
    autocorrect = 1
[push]
    default = matching
[rerere]
    enabled = 1
    autoupdate = true
